<div class="container">
    <div class="col-sm-12 log-form">
        <div class="login-text">
               <h2 class="page-title">Login</h2>
        </div>
        <form id="login-form">
            <div class="form-group">
                <label for="name">Username:</label>
                <input type="text" class="col-sm-12 form-input" id="username-login"/>
            </div>
            <div class="form-group">
                <label for="password-login">Password:</label>
                <input type="password" class="col-sm-12 form-input" id="password-login"/>
            </div>
               <a class="nav-link text-center" href="/signup">Please Sign Up!</a>
        </form>
    </div>
</div>

<script src="js/login.js"></script>